
*.pt
*.jpg


.vscode/*.*
models/*.*
python/__pycache__/*.*

resources/yolov5n.onnx
log/*.log
record_temp/*

log/*
python/.DS_Store
.DS_Store

.lib_pack/**

apps/vision/application/build/**
apps/vision/application/.qtcreator/**

apps/vision/cpp/build-cpp-64bit-Debug/*
apps/vision/cpp/CMakeLists.txt.user
apps/vision/cpp/application/build/*

apps/gateway/__debug_bin*
apps/gateway/.env
apps/gateway/gen/**

apps/vision/build/**
apps/vision/gen/**